*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: #C0392B;
    width: 100%;
    height: 62px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 410px;
    align-items: center;
}
.list_link{
    display: flex;
    flex-direction: row;
    gap: 34.8px;
}
.logo{
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
}
.link {
    font-size: 16.1px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}
.pho {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 460px ;
    width: 100%;
    height: 489.38pxpx;
}
.content h2{
    font-size: 37.7px;
    font-weight: 700;
    color: #333333;
}
.content p{
    font-size: 15.4px;
    font-weight: 400;
    color: #333333;
}
.img {
    width: 475px;
    height: 365.38px;
    border-radius: 8px;
}
main{
    width: 100%;
    height: 936.38px;
}
.menu {
    background-color: #ffffff;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 448px;
}
.food{
    width: 300px;
    height: 280px;
    border-radius: 8px;
    border: 1px solid #eeeeee;
    background-color: #fff9f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.food img{
    width: 298px;
    height: 180px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.food h3{
    font-size: 18.7px;
    font-weight: 700;
    color:#333333;
    padding-top: 19px;
    padding-bottom: 9px;
}
.food p{
    font-size: 18.9px;
    font-weight: 700;
    color:#C0392B;
    margin-bottom: 25px;

}
footer{
    background-color:#2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    font-size: 15.1px;
    font-weight: 400;
    width: 100%;
    height: 78px;
}
