*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contaoner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.header {
    display: flex;
    justify-content: space-between;
    
}
.header h2{
    font-size: 24px;
    font-weight: 700;
}
.header div{
    font-size: 24px;
    font-weight: 600;
}
.list-sp {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.list-sp1 {
    display: flex;
    justify-content: space-evenly;
    gap: 80px;

}
.sp {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-sp2 {
    display: flex;
    justify-content: space-evenly;
    gap:80px;
    align-items: center;

}
